.item {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;  
}

#food {
  top: 23%;
  left: 28%;
}

#drink {
  top: 24%;
  left: 26%;
}

#happiness {
  top: 26%;
  left: 24%;
}

@media only screen and (max-device-width : 300px) and (orientation : portrait) {
  .item {
    width: 30px;
    height: 30px;  
  }
}