.item {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;  
}

#food {
  top: 23%;
  left: 28%;
}

#drink {
  top: 24%;
  left: 26%;
}

#happiness {
  top: 26%;
  left: 24%;
}

#trash_can {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

