.progress-gauge {
  position: relative;
  margin: 0 auto;
}

#food-progress {
  width: 80px;
  height: 80px;
}

#drink-progress {
  width: 80px;
  height: 80px;
}

#happiness-progress {
  width: 80px;
  height: 80px;
}

#life-progress {
  width: 200px;
  height: 200px;
}