.smiggles-container {
  height: 100%;
  padding: 20px;

  .face {
    display: none;
    position: absolute;
    top: 28%;
    left: 28%; 
    z-index: 1;
  }

  #angry, #appreciation, #surprise {
    z-index: 2;
  }

  .time-alive {
    text-align: center;
    font-size: 40px;
  }

  #restart {
    background-color: $matte-red;
    display: none;
  }

  @media only screen and (max-device-width : 300px) and (orientation : portrait) {
    .face {
      width: 65px;
      height: auto;
    }
    .time-alive {
      font-size: 25px;
    }
  }
}