<ul id="slide-out" class="side-nav">
  <li>
    <%= render partial: 'shared/logout' %>
  </li>
</ul>

<%= link_to '#', class: "btn-floating btn-small menu-link", data: { activates: "slide-out"} do %>
  <i class="material-icons">menu</i>
<% end %>